.heading{
    text-align: center;
    margin-bottom:50px;
    margin-top: 20px;
    font-size:20px;
    font-weight: 700;
}


.form
{
    margin-left:35%;
    width:max-content;
    background-color:transparent;
    padding: 20px;
    box-shadow: 0px 0px 12px 0px;
    margin-bottom: 20px;
}


.label{
    font-size:15px;
    display: inline-block;
    width:200px;
    text-align: justify;
    font-weight:600;

}

.input{
    border: 1px solid ;
    padding:2px;
    border-radius: 5px;
  
}


.button{
    background-color: #a881af;
    padding: 7px;
    border-radius: 10px;
    font-size: small;
    margin-left: 150px;
    width: 100px;
    font-weight: 600;
    font-size:small
}

.button:hover{
    background-color: #80669d;
    color: aliceblue;
}